@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen(lg){
    .bg-hero{
        width: 2000px;
        height: 350px;
        left: 30%;
        @apply absolute rounded-l-full top-52 bg-violet-700;
    }
    .bg-tabs{
        width: 2000px;
        height: 350px;
        right: 60%;
        @apply absolute rounded-r-full top-60 bg-violet-700;
    }
}   